* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    flex-direction: column;
}

.name-container {
    position: relative;
    text-align: center;
}

.name {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.loading-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #3498db;
    animation: fillName 5s forwards;
    border-radius: 5px;
}

@keyframes fillName {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.portfolio-page {
    display: none;
    padding: 40px;
}

header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 40px;
}

.about-me {
    text-align: center;
    margin-bottom: 40px;
}

.about-me h2 {
    font-size: 2rem;
    color: #3498db;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
    color: #7f8c8d;
}
